span.cell {
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    height: 1.5em;
    width: 1.5em;
}

div.row {
    display: flex;
    width: fit-content;
    /* DEBUG
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
    border-color: red;
    */
}

div.grid {
    width: fit-content;
    /* DEBUG
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
    border-color: lightgreen;
    */
}
